//this is the main container

.calendarView .month {
width:85%;
margin: auto;
display:grid;
grid-template-columns: repeat(5, 1fr);
}
.calendarView .monthHead {
    text-align: center;
}
<<<<<<< HEAD
.calendarView .day {
    border: 2px solid rgb(255, 72, 0);
=======
.day {
    border: 2px solid black;
>>>>>>> 83856fbe6f92ed5045367bd15583ac8fdd1a83bc
}
.calendarView .dayHead {
    border: 2px solid black;
    text-align: center;
}

.listView .month {
    width:85%;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(1, 1fr);
}
.listView .monthHead {

}
.listView .day {

}
.listView .dayHead {

}


