<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> e821083ccb610ed51e2bb04a6a5993fa62ae1766
/* CSS Document */
.hamburger .text {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute; }

.info .some-row .a-01,
.info .some-row .a-02, .more-stuff .a-03,
.more-stuff .a-04,
.more-stuff .a-05,
.more-stuff .a-06 {
  width: 49%;
  padding: 1.875rem;
  border: 1px dotted #ccc; }
  .info .some-row .a-01 > :first-child,
  .info .some-row .a-02 > :first-child, .more-stuff .a-03 > :first-child,
  .more-stuff .a-04 > :first-child,
  .more-stuff .a-05 > :first-child,
  .more-stuff .a-06 > :first-child {
    margin-top: 0; }
  .info .some-row .a-01 > :last-child,
  .info .some-row .a-02 > :last-child, .more-stuff .a-03 > :last-child,
  .more-stuff .a-04 > :last-child,
  .more-stuff .a-05 > :last-child,
  .more-stuff .a-06 > :last-child {
    margin-bottom: 0; }
  @media (max-width: 41.875em) {
    .info .some-row .a-01,
    .info .some-row .a-02, .more-stuff .a-03,
    .more-stuff .a-04,
    .more-stuff .a-05,
    .more-stuff .a-06 {
      width: 100%;
      margin-bottom: 8%; }
      .info .some-row .a-01:last-child,
      .info .some-row .a-02:last-child, .more-stuff .a-03:last-child,
      .more-stuff .a-04:last-child,
      .more-stuff .a-05:last-child,
      .more-stuff .a-06:last-child {
        margin-bottom: 0; } }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img {
  max-width: 100%;
  height: auto; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  margin: 0; }

body {
  font-family: Georgia, Times, Times New Roman, serif;
  line-height: 1.4; }

h1, h2, h3, nav a, table {
  font-family: Tahoma, Verdana, Segoe, sans-serif; }

body {
  background-color: white; }

.wrapper {
  max-width: 860px;
  margin: 0 auto;
  background-color: white; }

header {
  background-color: white;
  padding: 0.9375rem 1.875rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center; }
  header h1 {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: black; }
    @media (max-width: 41.875em) {
      header h1 {
        font-size: 1.6em; } }

.hamburger {
  display: none; }
  @media (max-width: 41.875em) {
    .hamburger {
      display: block;
      width: 40px;
      background-color: transparent;
      border: none;
      padding: 0;
      cursor: pointer; }
      .hamburger .hamburger-content {
        height: 24px; }
      .hamburger .bar {
        display: block;
        height: 4px;
<<<<<<< HEAD
        background-color: black;
=======
        background-color: white;
>>>>>>> e821083ccb610ed51e2bb04a6a5993fa62ae1766
        width: 100%;
        position: relative;
        top: 10px;
        transition: all 0.3s ease-in-out; }
        .show .hamburger .bar {
          background-color: transparent; }
        .hamburger .bar:before, .hamburger .bar:after {
          content: "";
          width: 100%;
          height: 4px;
          left: 0;
<<<<<<< HEAD
          background-color: black;
=======
          background-color: white;
>>>>>>> e821083ccb610ed51e2bb04a6a5993fa62ae1766
          position: absolute;
          transition: all 0.3s ease-in-out; }
          .hamburger .bar:before {
            top: -10px; }
            .show .hamburger .bar:before {
              transform: rotate(-45deg); }
          .hamburger .bar:after {
            top: 10px; }
            .show .hamburger .bar:after {
              transform: rotate(45deg); }
          .show .hamburger .bar:before, .show .hamburger .bar:after {
            top: 0; }
      .hamburger:focus,
      .hamburger .hamburger-content:focus {
        outline: none; }
      .hamburger:focus .hamburger-content {
        outline: 5px solid #7683C9; } }

nav {
  background-color: #cccccc;
  height: 40px;
  border-top: 1px solid white; }
  nav ul {
    margin: 0;
    padding: 0;
    line-height: 1;
    list-style: none;
    display: flex; }
    @media (max-width: 41.875em) {
      nav ul {
        display: block; } }
  nav li {
    flex: 1; }
  nav a {
    display: block;
    color: white;
    border-right: 1px solid white;
    line-height: 40px;
    text-align: center;
    font-size: 1.2em;
    text-decoration: none;
    outline: none; }
    nav a:hover, nav a:focus, nav a:active {
      background-color: rgba(255, 255, 255, 0.3); }
    nav li:last-child a {
      border-right: none; }
  @media (max-width: 41.875em) {
    nav {
      display: none;
      height: auto;
<<<<<<< HEAD
      border-top: none;
      width: 100%; }
=======
      border-top: none; }
>>>>>>> e821083ccb610ed51e2bb04a6a5993fa62ae1766
      .show nav {
        display: block; }
      nav a {
        line-height: 50px;
        border-right: none;
        border-top: 1px solid white; } }

main {
  padding: 1.875rem; }
  main section:not(:first-child) {
    margin-top: 1.875rem; }

.info > :first-child {
  margin-top: 0; }
.info > :last-child {
  margin-bottom: 0; }
.info .some-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.more-stuff {
  background-color: rgba(255, 192, 203, 0.3);
  padding: 1.875rem; }
  .more-stuff > :first-child {
    margin-top: 0; }
  .more-stuff > :last-child {
    margin-bottom: 0; }
  .more-stuff .different-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .more-stuff .a-03,
  .more-stuff .a-04,
  .more-stuff .a-05,
  .more-stuff .a-06 {
    margin-bottom: 2%;
    background-color: lightyellow; }
    .more-stuff .a-05,
    .more-stuff .a-06 {
      margin-bottom: 0; }
    @media (max-width: 41.875em) {
      .more-stuff .a-03,
      .more-stuff .a-04,
      .more-stuff .a-05 {
        margin-bottom: 8%; } }

footer {
  padding: 1.875rem;
  border-top: 1px dotted #303030; }
  footer p {
    margin: 0;
    padding: 0;
    line-height: 1; }

.calendarView .month {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr); }

.calendarView .monthHead {
  text-align: center; }

.calendarView .day {
  border: 2px solid black; }

.calendarView .dayHead {
  border: 2px solid black;
  text-align: center; }

.listView .month {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr); }

.listView .monthHead {
  width: 85%;
  margin: auto; }

.listView .day {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black; }
  .listView .day ul {
    display: flex;
    list-style: none; }
  .listView .day li {
    width: 25%; }
  @media screen and (max-width: 600px) {
    .listView .day ul {
      display: block;
      list-style: square; }
    .listView .day li {
      width: 100%; } }

.listView .day:last-of-type {
  border-bottom: 1px solid black; }

.listView .dayHead {
  display: none; }

<<<<<<< HEAD
=======
#switchViewBtn {
  position: fixed;
  left: 80%;
  top: 100px; }

>>>>>>> e821083ccb610ed51e2bb04a6a5993fa62ae1766
@media screen and (max-width: 700px) {
  #switchViewBtn {
    display: none; } }
.image-gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .image-gallery .image-container {
    width: 32%;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    text-decoration: none;
    color: white;
    position: relative; }
    .image-gallery .image-container:before {
      content: "";
      width: 1px;
      margin-left: -1px;
      float: left;
      height: 0;
      padding-top: 56.25%; }
    .image-gallery .image-container:after {
      content: "";
      display: table;
      clear: both; }
    .image-gallery .image-container img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
      display: block; }
    .image-gallery .image-container .profile {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: rgba(48, 48, 48, 0.8);
      transform: scale(0);
      transition: 0.3s ease; }
      .image-gallery .image-container .profile .name,
      .image-gallery .image-container .profile .title {
        margin: 0;
        padding: 0;
        line-height: 1; }
      .image-gallery .image-container .profile .name {
        margin-bottom: 10px; }
      .image-container:hover .profile,
      .image-container:focus .profile {
        transform: scale(1); }
    @media (max-width: 41.875em) {
      .image-gallery .image-container {
        width: 100%;
        margin-bottom: 1.875rem; }
        .image-gallery .image-container:before {
          padding-top: 100%; } }

.dt {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  width: 100%;
  border: 1px solid black; }
  .dt th, .dt td {
    text-align: center;
    padding: 10px;
    border: 1px solid black; }
  .dt caption {
    background-color: #dadada;
    padding: 10px;
    font-size: 1.2em;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black; }
  .dt thead tr,
  .dt tfoot tr {
    background-color: #a7a7a7; }
  .dt tbody tr td:nth-child(1) {
    background-color: #01295f;
    color: white; }
    .dt tbody tr td:nth-child(1):hover {
      background-color: rgba(1, 41, 95, 0.6);
      color: white; }
  .dt tbody tr td:nth-child(2) {
    background-color: #437f97;
    color: white; }
    .dt tbody tr td:nth-child(2):hover {
      background-color: rgba(67, 127, 151, 0.6);
      color: white; }
  .dt tbody tr td:nth-child(3) {
    background-color: #849324;
    color: white; }
    .dt tbody tr td:nth-child(3):hover {
      background-color: rgba(132, 147, 36, 0.6);
      color: white; }
  .dt tbody tr td:nth-child(4) {
    background-color: #ffb30f;
    color: black; }
    .dt tbody tr td:nth-child(4):hover {
      background-color: rgba(255, 179, 15, 0.6);
      color: black; }
  .dt tbody tr td:nth-child(5) {
    background-color: #fd151b;
    color: black; }
    .dt tbody tr td:nth-child(5):hover {
      background-color: rgba(253, 21, 27, 0.6);
      color: black; }
  @media (max-width: 41.875em) {
    .dt th, .dt td {
      text-align: left; }
    .dt tbody tr:nth-child(even) {
      background-color: lightblue; }
    .dt tbody tr:nth-child(odd) {
      background-color: pink; }
    .dt tbody td {
      display: block; }
      .dt tbody td:before {
        content: attr(data-th) ": ";
        display: inline-block;
        margin-right: 10px;
        font-weight: bold; }
      .dt tbody tr td:nth-child(1n) {
        background-color: transparent;
        color: black; }
        .dt tbody tr td:nth-child(1n):hover {
          background-color: rgba(255, 255, 255, 0.5);
          color: black; }
    .dt th {
      display: none; } }

/*# sourceMappingURL=styles.css.map */
<<<<<<< HEAD
=======
=======
/*
Error: Invalid CSS after "...2px solid black": expected "{", was ";"
        on line 17 of scss/_schedule.scss
        from line 25 of scss/styles.scss

12: <<<<<<< HEAD
13: .calendarView .day {
14: =======
15: .day {
16: >>>>>>> 19ae5f68ff99467d025a18125fdd548659505ae4
17:     border: 2px solid black;
18: }
19: .calendarView .dayHead {
20:     border: 2px solid black;
21:     text-align: center;
22: }

Backtrace:
scss/_schedule.scss:17
scss/styles.scss:25
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/scss/parser.rb:1278:in `expected'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/scss/parser.rb:1208:in `expected'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/scss/parser.rb:1203:in `tok!'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/scss/parser.rb:677:in `block'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/scss/parser.rb:747:in `declaration_or_ruleset'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/scss/parser.rb:697:in `block_child'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/scss/parser.rb:686:in `block_contents'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/scss/parser.rb:678:in `block'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/scss/parser.rb:747:in `declaration_or_ruleset'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/scss/parser.rb:697:in `block_child'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/scss/parser.rb:686:in `block_contents'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/scss/parser.rb:678:in `block'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/scss/parser.rb:670:in `ruleset'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/scss/parser.rb:696:in `block_child'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/scss/parser.rb:689:in `block_contents'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/scss/parser.rb:137:in `stylesheet'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/scss/parser.rb:41:in `parse'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/engine.rb:414:in `_to_tree'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/engine.rb:321:in `to_tree'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:327:in `block in visit_import'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/stack.rb:88:in `block in with_import'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/stack.rb:135:in `with_frame'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/stack.rb:88:in `with_import'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/stack.rb:135:in `with_frame'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/stack.rb:79:in `with_base'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:162:in `visit'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:52:in `map'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:161:in `visit'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:10:in `visit'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/engine.rb:389:in `_render_with_sourcemap'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/engine.rb:307:in `render_with_sourcemap'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:209:in `each'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:320:in `block in watch'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...2px solid black\": expected \"{\", was \";\"\A         on line 17 of scss/_schedule.scss\A         from line 25 of scss/styles.scss\A \A 12: <<<<<<< HEAD\A 13: .calendarView .day {\A 14: =======\A 15: .day {\A 16: >>>>>>> 19ae5f68ff99467d025a18125fdd548659505ae4\A 17:     border: 2px solid black;\A 18: }\A 19: .calendarView .dayHead {\A 20:     border: 2px solid black;\A 21:     text-align: center;\A 22: }"; }
>>>>>>> 8b8b269fabc8fd3dd5f54e1c2f004779f480ada2
>>>>>>> e821083ccb610ed51e2bb04a6a5993fa62ae1766
